@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */



/**
    The lines above are intact.
    The lines below were added by maryUI installer.
*/

/** daisyUI */
@plugin "daisyui" {
    themes: cmyk --default, black --prefersdark;
}

/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

.mary-table-pagination {
    button, span {
        @apply  text-xs border-none dark:text-white/90
    }
 
    button {
        @apply cursor-pointer  dark:bg-neutral-900
    }
 
    span[aria-current="page"] > span {
        @apply dark:bg-neutral-950
    }

    span[aria-hidden="true"] {
        @apply dark:bg-neutral-900
    }

    button[aria-current="page"] {
        @apply dark:bg-neutral-900
    }
  
    button, span[aria-current="page"] > span, span[aria-disabled="true"] span {
        @apply py-1 px-2
    }

    select {
        @apply dark:bg-neutral-950 dark:text-white/90 dark:border-neutral-700! text-xs rounded-sm
    }
}

.EasyMDEContainer h1 {
    @apply text-4xl font-bold mb-5
}
 
.EasyMDEContainer h2 {
    @apply text-2xl font-bold mb-3
}
 
.EasyMDEContainer h3 {
    @apply text-lg font-bold mb-3
}

.EasyMDEContainer .CodeMirror {
    @apply dark:bg-neutral-950 dark:text-white/90 dark:border-neutral-700!
}
 
.EasyMDEContainer .CodeMirror {
    @apply dark:bg-neutral-950 dark:text-white/90
}
 
.EasyMDEContainer .CodeMirror-cursor {
    @apply border dark:border-b-neutral-700
}
 
.EasyMDEContainer .editor-toolbar > button:hover, .EasyMDEContainer .editor-toolbar > .active {
    @apply dark:bg-neutral-700 dark:text-white/90 dark:border-neutral-700!
}

.EasyMDEContainer .editor-toolbar { 
    @apply dark:bg-neutral-900 dark:text-white/90 dark:border-neutral-700!
}

.EasyMDEContainer .editor-preview { 
    @apply dark:bg-neutral-900 dark:text-white/90
}